
.dataframe table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-size: 0.95rem;
    }


.dataframe thead th {
    background-color: var(--md-default-bg-contrast);
    border-bottom: 1px solid var(--md-default-border);
    font-weight: 600;
    padding: 0.6em 1em;
    text-align: left;
    }


.dataframe tbody td {
    border-bottom: 1px solid var(--md-default-border);
    padding: 0.6em 1em;
    }


.dataframe tbody tr:last-child td {
                        border-bottom: none;
                        }


div { 
    overflow-x: scroll;

}

div.jp-OutputArea,
div.output_area {
  display: none;
}


details div.jp-OutputArea,
details div.output_area {
  display: block;
}


.md-content {
    margin-inline-start: 0 !important;
    margin-inline-end: auto !important;
  }
  
  
.md-content__inner {
max-width: 500px !important;   
}

.md-content__inner p {
margin-bottom: 0.8em !important;
line-height: 1.5 !important;
}

.hl-red {
    background-color: #ffdddd;
    color: #800;
    padding: 0 .2em;
    border-radius: 2px;
  }

  

.md-content__inner .toc {
  float: right;
  width: 200px;              
  margin: 0 0 1em 2em;       
  padding: 0.5em;
  background: var(--md-default-bg-contrast);
  border: 1px solid var(--md-default-border);
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
}


@media (max-width: 960px) {
.md-content__inner .toc {
    float: none;
    width: auto;
    margin: 0 0 1em;
}
}
  


  