.dataframe {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
}
.dataframe thead th {
    background-color: #cfe9fd;
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
.dataframe tbody td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
.dataframe tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.dataframe tbody tr:hover {
    background-color: #ddd;
}

div { 
    overflow-x: scroll;

}


.md-content {
    margin-inline-start: 0 !important;
    margin-inline-end: auto !important;
  }
  
  
.md-content__inner {
max-width: 500px !important;   
}

.md-content__inner p {
margin-bottom: 0.8em !important;
line-height: 1.5 !important;
}

.hl-red {
    background-color: #ffdddd;
    color: #800;
    padding: 0 .2em;
    border-radius: 2px;
  }

  

.md-content__inner .toc {
float: right;
width: 200px;              
margin: 0 0 1em 2em;       
padding: 0.5em;
background: var(--md-default-bg-contrast);
border: 1px solid var(--md-default-border);
border-radius: 4px;
font-size: 0.9em;
line-height: 1.4em;
}


@media (max-width: 960px) {
.md-content__inner .toc {
    float: none;
    width: auto;
    margin: 0 0 1em;
}
}
  